/* Rightbar.css */

/* Customize scrollbar */
.scrollable-content::-webkit-scrollbar {
    width:0px;
   
  }


  
  .scrollable-content::-webkit-scrollbar-thumb {
    background-color: #88888879;
    border-radius: 10px;

    
  }
  
  .scrollable-content::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    
  }
  